{% extends 'base.html'%}

{% load education_filters %}
{% block body %}

{% if not courses %}
<div class="container">
<div class="row">
<div class="col-6 mx-auto">
<h1 class="mt-5 ml-5" style="color: #dd2d41"> Code: {{ request.user.student.code }}</h1>
    <h4>This is your Code, share it with your Teachers and School to join you. Also share it with your family</h4>
    <br></br>
    <h4>Opps you are not a member of any course... You can see all our courses <a href="{%url 'edu:not_signed_home'%}">here</a></h4>
</div>
</div>
</div>
{% else%}
<div class="row">
{% block signed %}
{% for course in courses%}
{% student_course_exams_progress request.user.student course as exam_progress %}
<div class="col-4 offset-md-1  mt-5">
{% include "snippets/course_card.html" with title=course.name school=course.school url=course.get_absolute_url  student_degrees=exam_progress.student exams_degrees=exam_progress.exams precentage=exam_progress.precentage %}
</div>

{% endfor %}

</div>

{%endblock signed%}
{%endif%}
{% endblock body %}
