{% extends 'base.html'%}
{% load education_filters %}
{% load static  %}
{% block title%}
{{course.name }} Page
{% endblock %}
{% block body %}


{% include "school_dashboard_base.html" with course=course %}

<div class="container">
	<div class="row">
		<div class="col-4 offeset-md-4">
		<h1>{{ course.name }}, {{ course.school }}</h1>
	</div>
	</div>
	<div class="row">
	<div class="col-3 mt-5">
		<div class="row" style="background-color: blue" >
		<h1>Wrtie The Code Of The Student To Take Attendance</h1>
		<form method="post" action="{% url 'edu:take_attend' course.id %}">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <button type="submit" class="btn btn-danger">Take Student Attendance</button>
		</form>
	</div>
		<div class="row mt-5" style="background-color: green">
			<h1>Create New Exam</h1>
		<form method="post" action="{% url 'edu:create_exam' course.id %}">
		    {% csrf_token %}
		    {{ form2.as_p }}
		    <button type="submit" class="btn btn-danger">Create New Exam</button>
		</form>
	</div>
	</div>


<div class="col-8 mt-5 ">
<table class="table table-hover table-bordered table-rafeki">
  <thead class="thread-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student name</th>
      <th scope="col">Code</th>
      <th scope="col">No. Attendances</th>
    </tr>
  </thead>
  <tbody>
    <span style="background-color: green">Top Student Attendance score : {{ top_attend.num_attend__max }}</span>

  	{% for student in students %}

    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ student.user.username }}</td>
      <td>{{ student.code}}</td>
    <!-- Template Tag to return the count of attendances for specific course object and student (source education_filters) !-->

      <td>{% student_attend_count student course %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
<div class="row mt-5">
{% for exam in course.exams.all %}

{{ exam.top_stud}}

<div class="col-3  mt-5">
<h6 class="mx-auto"><a href="{{ exam.get_absolute_url }}">{{exam|truncatechars:29 }}</a></h6>
<table class="table-hover table-bordered " style="border-color: green ">
  <thead>
    <tr>
      <th scope="col" s>#</th>
      <th scope="col">Student name</th>
      <th scope="col">Code</th>
      <th scope="col">Degree</th>
    </tr>
  </thead>
  <tbody>
    <!-- Template Tag to return ordered records from an exam object (source education_filters) !-->
    {% exam_records_ordered exam as records %}
  	{% for record in  records  %}
    <tr>
      <th scope="row" style="padding: 5px">{{ forloop.counter }}</th>
      <td style="padding: 5px">{{ record.student }}</td>
      <td style="padding: 5px">{{ record.student.code}}</td>
        {% if forloop.counter == 1 %}

          <td style="color: green; background-color: yellow; font-size: 120%">{{ record.student_degree }}</td>
        {% else %}
          <td style="font-size: 120%">{{ record.student_degree }}</td>
    </tr>
        {% endif %}
    {% empty %}
    <tr>
      <th scope="row">-</th>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

{% endfor%}
</div>
{% endblock %}
