{% extends 'base.html'%}
{% load education_filters %}
{% block body%}

<div class="container">
	<div class="row ">
		<div class="col-4 mx-auto mt-5">
		<h1>Student <span class="badge badge-primary">{{ student.user.username }}</span>
			Code: <span class="badge badge-danger">{{ student.code }}</span></h1>
	</div>
	</div>

<div class="row">
<h4 class="ml-auto">الحضور ونسبة الغياب</h4>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <th scope="col">Attendances</th>
      <th scope="col">Precentage</th>
    </tr>
  </thead>
  <tbody>
  	{% for course in courses %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{course.name}}</td>
      {% student_attend_count student course as attend_count %}
      {% course_attend_max course as attend_max %}
      <td><span class="font-weight-bold" style="color: #dd2d41">{{ attend_count }}</span> / {{attend_max}}</td>
   
      {% precentage_calc attend_count attend_max as precentage %}
      <td><span class="font-weight-bold" style="color: #dd2d41; "> {{ precentage }}% </span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>



</div>
<div class="row">
<h4 class="ml-auto">الامتحانات والاختبارات الجزئية</h4>

	<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <th scope="col">Exams Degrees</th>
      <th scope="col">Precentage</th>
    </tr>
  </thead>
  <tbody>
  	{% for course in courses %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{course.name}}</td>
      {% student_course_exams_progress student course as degrees %}
    
      <td><span class="font-weight-bold" style="color: #dd2d41">{{ degrees.student }} </span>/ {{ degrees.exams }}</td>
   
      {% precentage_calc degrees.student degrees.exams as precentage %}
      <td ><span  class="font-weight-bold" style="color: #dd2d41"> {{ precentage }}% </span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

	
</div>

	


{% endblock %}