<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--
	<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
-->
<title></title>
</head>
<body id="home">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand">Home</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#explor-head-section">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#home">Nothing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Home Section -->

<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block">
              <h1 class="display-4">Build Social profiles and gain profits</h1>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  lorem, ipsum oddlr , slkaersrsj aim ajrna cones maeial
                  kjfsfksjfsfksffsfsflfsflsdfs
                  fjsds djsn msfspok mojr many maman ,ala ma
                </div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  lorem, ipsum oddlr , slkaersrsj aim ajrna cones maeial
                  kjfsfksjfsfksffsfsflfsflsdfs
                  fjsds djsn msfspok mojr many maman ,ala ma
                </div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  lorem, ipsum oddlr , slkaersrsj aim ajrna cones maeial
                  kjfsfksjfsfksffsfsflfsflsdfs
                  fjsds djsn msfspok mojr many maman ,ala ma
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card bg-primary text-center card-form">
                <div class="card-body">
                  <h3>Sign up Today</h3>
                  <p>Please Fill the Form below</p>
                  <form>
                    <div class="form-group">
                      <input class="form-control-lg" placeholder="Username" type="text" name="" value="">
                    </div>
                    <div class="form-group">
                      <input class="form-control-lg" placeholder="Password" type="text" name="" value="">

                    </div>
                    <div class="form-group">
                      <input class="form-control-lg" placeholder="Confirm Password" type="text" name="" value="">

                    </div>
                    <input class="btn btn-outline-light btn-block " type="submit" name="" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</header>









<!--
<div id='root'>
</div>

  <script type="text/babel">


  class Toggle extends React.Component {
    constructor(props) {
      super(props);
      this.state = {isToggleOn: true};

      // This binding is necessary to make `this` work in the callback
      this.handleClick = this.handleClick.bind(this);
    }

    handleClick() {
      this.setState(prevState => ({
        isToggleOn: !prevState.isToggleOn
      }));
    }

    render() {
      return (
        <button onClick={this.handleClick}>
          {this.state.isToggleOn ? 'ON' : 'OFF'}
        </button>
      );
    }
  }

  ReactDOM.render(
    <Toggle />,
    document.getElementById('root')
  );


</script>
-->
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</html>
