{% extends 'base.html' %}
{% block body %}

<br>
<br>

{{ product.name  }}
{{ product.price }}
<img src="{{ product.photo.url }}" height="100" width="120">
<br>

<a href="{% url 'public:service_detail' product.created_by.pk %}">{{ product.created_by }}</a>
<br>
<h2>Reviews </h2>
{% for review in reviews %}
{{ review.body }}
{{ review.created_by }}
{{ review.created_at }}
{{ review.useful }}
<br>
{% endfor %}
<form method="post" action="{% url 'public:product_review_creation' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
</form>
{% endblock %}
