@font-face {
  font-family: 'Sheba';
  src: url('../fonts/Sheba-Ye.ttf');
}

/*containers
**********************************/
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

body
{
    background-color: #e7e7e7;
}

.light-body {
  background: #f1f1f1;
}



/*SLIDERs
**********************************/
/*Main
***********/
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators li {
  border-radius: 0;
  background: #fff;
  border: 0;
  width: 8px;
  height: 8px;
  margin: 1px 2px;
}

.carousel-indicators li.active {
  background: #3d66da;
  width: 8px;
  height: 8px;
  margin: 1px 2px;
}

.carousel-control {
  background-image: none !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
}

.carousel-control a {
  position: absolute;
    top: 50%;
    margin-top: -41px;
    color: black;
    opacity: 1;
    background: #fff;
    padding: 0 15px;
    border: 1px solid #e1e1e1;
    text-shadow: none;
}

.carousel-control.left a {
  left: 0;
}

.carousel-control.right a {
  right: 0;
}

.carousel-control a:hover {
    background: #f1f1f1;
}

.carousel a:focus {
    background: #e1e1e1;
}


@media (max-width: 767px) { 
  .carousel-control, .carousel-indicators {
    display: none;
  }
}

/*owl-carousel
***************/
.owl-carousel {
  direction: ltr;
}

.owl-controls .owl-buttons .owl-prev,.owl-controls .owl-buttons .owl-next {
    background-image: none;
    position: absolute;
    opacity: 1;
    color: #fff;
    background: #f36726;
    padding: 0 6px;
    text-shadow: none;
    font-size: 9px;
    overflow: visible;
    top: 50%;
    margin-top: 8px;
}

.owl-controls .owl-buttons .owl-prev{
  left: 0;
}

.owl-controls .owl-buttons .owl-next{
  right: 0;
}

.owl-controls .owl-buttons .owl-prev:hover,.owl-controls .owl-buttons .owl-next:hover{
  background-color: #666;
}

/*@media (max-width: 767px) {
  .owl-controls .owl-buttons .owl-prev,.owl-controls .owl-buttons .owl-next {
    display: none;
  }
}*/

/*main
***********/
.main-owl .item {
  border-radius: 10px;
  overflow: hidden;
}

.main-owl .item img{
  display: block;
  width: 100%;
  height: auto;
}


@media (max-width: 767px) {
  .main-owl .item {
    border-radius: 0;
  }
}

/*Products
***********/
.product-owl {
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
}

.product-owl .product-box {
  margin: 10px;
}

/*stores
************/
.stores-owl{
  direction: ltr;
  padding: 20px;
  background-color: transparent;
  border: 0;
  text-align: center;
}

.stores-owl .product-box {
  margin: 10px;
}

.stores-owl .owl-controls{
  margin-top: 10px;
  text-align: center;
}

.stores-owl .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}

.stores-owl .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

.stores-owl .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.stores-owl .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.stores-owl .owl-controls .owl-page.active span,
.stores-owl .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

.stores-owl .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}


/*Tabs
**********************************/
/*1
********/
.nav-tabs {
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    background-color: #fff;
}

.nav-tabs .title {
  float: right;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
}

.nav-tabs li {
  margin-bottom: 0;
}

.nav-tabs li a{
  border: 0;
  color: #000;
  text-transform: uppercase;
  padding: 18px 15px;
}

.nav-tabs li.active a{
  font-weight: 700;
  color: #000;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 0;
}

.nav-tabs li:after {
    content: " ";
    position: absolute;
    left: 50%;
    opacity:0;
    margin: 0 auto;
    margin-left: -10px;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #e1e1e1;
    transition:0.1s ease-in-out;
    
}
/*.nav-tabs li.active:after {
    content: " ";
    position: absolute;
    left: 50%;
    opacity:1;
    margin: 0 auto;
    margin-left: -10px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #e1e1e1;
}*/

@media (max-width: 390px) { 
  .nav-tabs .title {
    display: none;
  }

  .nav-tabs {
    text-align: center;
  }

  .nav-tabs li {
    float: none;
    display: inline-block;
    font-size: 12px;
  }
}

@media (max-width: 300px) { 
  .nav-tabs li {
    font-size: 10px;
  }
}

/*2
********/
.dropdown-full {
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: 1px solid #dedede;
  border-top: 0;
  list-style: none;
  text-align: center;
}

.categories-dropdown-btn i{
  margin: 0 10px;
  left: -20px;
  position: relative;
}


.categories-dropdown-btn.collapsed i.fa-chevron-up{
  transform:rotate(-180deg);
}

.dropdown-full li a{
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #dedede;
  padding: 5px 0px;
  color: #000;
}

.dropdown-full li a:hover{
  background-color: #dedede;
}

.dropdown-full li:last-child a{
  border-bottom: 0;
}

.categories-tab .categories-dropdown-btn {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 20px 10px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
}

.categories-tab .btn:active, .categories-tab .btn:hover , .categories-tab .btn:focus {
    outline: 0;
    border-color: #38c49e;
    background-color: #38c49e;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #165d4a;
}

.categories-tab .btn:active {
  background-color: #31ad8b;
}

.categories-tab .product-owl {
  border-top: 1px solid #e1e1e1;
  background-color: #fff; 
}

/*Proudct-boxes
**********************************/
/*1
***********/
.product-box {
  direction: initial;
}

.product-box .image a {
  display: inline-block;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border: 1px solid #dedede;
}

.product-box .image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.product-box .image img {
  width: 100%;
}

.product-box h2 { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   margin-top: 0;
}


.product-box h2 span { 
  border-bottom-right-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #165d4a; 
  letter-spacing: -1px;  
  background: #38c49e;
  padding: 10px; 
  text-transform: uppercase;
}

.product-box h2.off-v2 span {
  font-size: 12px;
  padding: 3px;
}

.product-details a{ 
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  font-weight: bold;
  display: block;
  direction: rtl;
}

.product-details a:hover,.product-box .product-details a:focus { 
  text-decoration: none;
}

.product-box .product-details .brand-name , .product-box .product-details a.brand-name:hover,.product-box .product-details a.brand-name:focus { 
  text-decoration: underline;
  margin: 10px 0;
}

/*.product-details .store-name{ 
  float: right;
  margin: 10px 0;
}*/

.product-box .product-details .brand-name, .product-box .product-details .store-name {
  display: block;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-box .product-details .info{ 
  font-weight: normal;
  display: block;
  height: 16px;
  overflow: hidden;
}

.product-box .product-details .price, .product-box .product-details .price span.price-before { 
  font-size: 16px;
}

.product-details .price{ 
  color: #f36726;
}

.product-details .price span.price-before{ 
  text-decoration: line-through;
  color: #b7b7b7;
  margin-left: 20px;
}

@media (max-width: 300px) { 
  .product-box .product-details .brand-name , .product-box .product-details a.brand-name:hover,.product-box .product-details a.brand-name:focus { 
    margin: 0;
  }

  .product-box .product-details .store-name{ 
    float: none;
    display: block;
    margin: 0;
  }

  .product-box h2 { 
     display: none;
  }

  .product-box .product-details .price span.price-before{ 
    display: block;
    margin-left: 0px;
  }

  .product-box .product-details .info {
    display: none;
  }
}

.related-products {
  background: #fff;
  border-top: 1px solid #dedede;
}

.related-products .container .products-imgs-owl{
  border: 0;
}

.related-products>.container>.row>.col-md-12>h2{
  text-align: center;
}



/*advertisement
**********************************/
.advertisement {
  padding: 15px;
  margin: 0;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-color: #474747 !important;
  background-size: 100% !important;
}

.advertisement.inverse {
    background-color: #f5f5f5 !important;
    border: 1px solid #e1e1e1;
    border-top: 0;
}

.advertisement.inverse .navbar-brand {
  color: #b1b1b1 !important;
}

.advertisement a{
  padding: 27px 0;
}

.advertisement a span {
  font-family: 'Cairo', sans-serif;
}

.advertisement .btn {
  float: left;   
  padding: 16px 20px;
  height: 50px;
}

@media (max-width: 560px) { 
  .advertisement a{
    width: 100%;
    text-align: center;
  }

  .advertisement .btn {
    float: none; 
    padding: 16px 0;
  }
}

@media (max-width: 320px) { 
  .advertisement a{
    font-size: 18px;
  }

  .advertisement .btn {
    font-size: 12px;
  }
}

/*categories
**********************************/
.subcategories-section{
  width: 100%;
  background-color: #fafafa;
  padding: 20px 0px; 
  position: relative;
  right: 15px;
}

.subcategories-section .Title-container {
  overflow: hidden;
  vertical-align: middle;
}

.subcategories-section .Main-title {
  float: right;
  color: #35185c;
  font-size: 18px;
  width: 50%;
  padding: 10px 0;
}

.subcategories-section .btn-discover {
  float: right;
  background-color: #6730b2;
  text-decoration: none !important;
  color: #fff;
  border: 0;
  font-size: 12px;
  width: 50%;
  padding: 15px;
}

.subcategories-section .btn-discover:active,.subcategories-section .btn-discover:hover {
  background-color: #562895;
  color: #fff;
}

.subcategories-section .btn-discover:active {
  background: #291347;
}

.subcategories-section .logo-img{
  width: 100%;
  height: 100px;
  text-align: center;
}

.subcategories-section .logo-img img{
    position: relative;
    top: 50%;
    margin-top: -50px;
}

.subcategories-section .links-container {
  float: right;
  width: 50%;
}

.subcategories-section .links a {
  color: #35185c;
  display: block;
  font-size: 12px;
}

.subcategories-section .links .title {
  font-weight: 700;
  padding-top: 5px;
}


@media (max-width: 991px) { 
  .subcategories-section{
    padding: 20px 40px; 
  }
}

@media (max-width: 767px) { 
  .stores-logos {
    display: none;
  }
}


@media (max-width: 319px) {

  .subcategories-section .Main-title {
    display: block;
  }

  .subcategories-section .btn-discover, .subcategories-section .Main-title, .subcategories-section .links-container {
    float: none;
    width: 100%;
    text-align: center
  }
}

/*Panels
**********************************/
/*Panel-Sign
*************/
.Panel-Sign {
  background-color: #fafafa;
  border: 1px solid #dedede;
  text-align: center;
  width: 50%;
  margin-top: 20px;
  padding: 20px;
  overflow: hidden;
}

.Panel-Sign h2 {
  font-weight: 700;
  font-size: 18px;
  color: #c6c6c6;
}

.socialMedia-sign {
  padding: 20px 0 20px 0;
  border-bottom: 1px dashed #bfbfbf;
}

.Panel-Sign form {
  padding-top: 20px;
}

.form-control {
  border: 1px solid #dedede;
  box-shadow: none !important;
  padding: 24px 12px;
  color: #000;
  font-size: 12px;
}

.Panel-Sign .col-6 {
  text-align: right;
  padding: 0;
  float: right;
  width: 50%;
}

.Panel-Sign .btn-blue {
  width: 100%;
  padding: 19px 12px;
}

.checkbox {
  display: inline-block;
  margin-top: 0;
}

.checkbox label {
    padding-right: 10px;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
  margin-right: 0;
}

.Panel-Sign .submit-options a {
  display: block;
  color: #c6c6c6 !important;
  font-weight: 700;
}

.Wrong-input{
    background: #f2dede !important;
    color: #a94442 !important;
    border-color: #ebccd1 !important;
}

@media (max-width: 767px) { 
  .Panel-Sign {
    margin: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dedede;
  }

  .change-background {
    background-color: #fafafa;
  }
}

@media (max-width: 300px) {
  .Panel-Sign .col-6 {
    margin-bottom: 10px;
    float: none;
    width: 100%;
  }
}

/*jumbotron
**********************************/
.jumbotron {
    position: relative;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.jumbotron h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 200px 0;
}

.jumbotron .store-info {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: absolute;
  width: 100%;
  color: #fff !important;
}

.jumbotron .store-info h3{
  font-size: 14px;
  line-height: 0;
  margin: 20px 0 25px 0;
  text-transform: uppercase;
}

.jumbotron .store-info .store-description{
  margin-bottom: 10px;
}

.jumbotron .store-info ul {
  list-style-type: none;
  padding: 0;
}

.jumbotron .store-info li {
  display: inline-block;
  margin-left: 5px;
}

.jumbotron .store-info li a {
  color: #fff !important;
  font-size: 12px;
}

@media (max-width: 767px) {
  .jumbotron {
    background-size: 767px auto;
  }

  .jumbotron h2 {
    padding: 170px 20px 0 20px;
    font-size: 24px;
  }

  .jumbotron .store-info {
    padding: 0 20px;
    text-align: center;
  }
}

/*intro
********/
.ultimate-container {
  position: relative;
  min-height: 360px;
  height: 100vh !important;
  text-align: center;
}

.jumbotron-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}

.jumbotron.intro {
  position: absolute;
  min-height: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: top center;
}

.jumbotron.intro h2 {
  height: 100%;
  font-weight: 300;
  position: relative;
  padding: 0;
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 28px;
  line-height: 2;
}

.jumbotron-content {
  position: relative;
  top: 50%;
  margin-top: -43px;
  overflow: hidden;
  text-align: center;
  z-index: 11;
}

.btn-circle {
    text-align: center;
    border-radius: 100%;
    color: #fff !important;
    background: transparent;
    border: 1px dashed #fff !important;
  -webkit-transition: background-color 0.01s;
  -moz-transition: background-color 0.01s;
  -ms-transition: background-color 0.01s;
  -o-transition: background-color 0.01s;
  transition: background-color 0.01s;
}

.btn-default.btn-circle:hover, .btn-default.btn-circle:focus, .btn-default.btn-circle:active, .btn-default.btn-circle.active, .open .dropdown-toggle.btn-default.btn-circle {
    background-color: rgba(255, 255, 255, 0.4);
    color: inherit;
    border: 0;
}

a.scroll-down {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  z-index: 11;
  color: white;
  bottom: 20px;
}
a.scroll-down {
  margin-top: 50px;
  margin-bottom: 80px;
}

a.scroll-down:hover {
  opacity: .5;
}

a.scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px dashed #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
a.scroll-down span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
a.scroll-down span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 40px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 40px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@media (max-width: 767px) {
  .navbar-container {
    width: 100%;
  }

  .custom-navbar.transparent.full-transparent {
    width: 100%;
  }

  .jumbotron-content {
    top: 50%;
    margin-top: 0px;
  }

  .jumbotron.intro h2 {
    height: 100%;
    font-size: 18px;
    line-height: 1;
  }

  .jumbotron.intro a.scroll-down {
    margin-top: 10px;
    margin-bottom: 80px;
  }
}

/*Search
**********************************/
.search-row {
    background-color: #f5f5f5;
    overflow: hidden;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

@media (max-width: 767px) {
  .header-row, .search-row {
    padding: 0 15px;
  }
}

/*Search-filters
*****************/
.search-filters {
  padding: 0;
}

.search-filters li {
  margin: 0 !important;
}

.search-filters .nav li a {
  color: #f36726;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dedede;
  font-weight: 700;
}

.search-filters .nav li a.new-message {
  background-color: #f36726;
  color: #fff;
}

.search-filters .nav li a.new-message i, .search-filters .nav li a.new-message i {
  color: #fff;
}

.search-filters .nav li a:hover, .search-filters .nav li a:focus {
  background-color: #f36726;
  color: #fff;
}

.search-filters .nav li a:hover>i, .search-filters .nav li a:focus>i {
  color: #fff;
}

.search-filters .nav li ul li.activ a{
    background-color: #f1f1f1;
    color: #f36726;
}

.search-filters .nav li a>i {
  color: #f36726;
  float: left;
  position: relative;
  top: 5px;
  font-size: 13px;
  right: -7px;
}

.search-filters .nav li ul li a>i {
  color: #666;
  float: right;
}

.search-filters .nav li ul li a:hover>i, .search-filters .nav li ul li a:focus>i {
  color: #f36726;
}

.search-filters .nav li .filter-inputs{
  color: #9b9b9b;
  background-color: #fff;
}



.search-filters .nav li ul {
  background-color: #2f2f2f;
  padding: 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  list-style-type: none;
}

.search-filters .nav li ul li a {
  padding: 6px 20px;
  background-color: transparent;
  color: #9b9b9b;
  border: 0;
  font-weight: 700;
  display: block;
  text-decoration: none;
  
  -webkit-transition: background-color 0.01s;
  -moz-transition: background-color 0.01s;
  -ms-transition: background-color 0.01s;
  -o-transition: background-color 0.01s;
  transition: background-color 0.01s;

  background-color: #ffffff;
  color: #606060;
  border-bottom: 1px solid #f1f1f1;
  font-size: 13px;
}

.multiselect-container>li>a>label {
  font-weight: 700 !important;
  font-size: 13px;
}

.search-filters .nav li ul li a:hover, .search-filters .nav li ul li a:focus {
  background-color: #f5f5f5;
  color: #f36726;
}

.search-filters .nav li ul li a span {
  float: left;
  background-color: #f36726;
  color: #fff;
  border-radius: 5px; 
  padding: 0 5px;
  font-size: 12px;
  position: relative;
  top: 2px;
}

.multi-select {
  display: block;
  width: 100%;
}

.btn.multiselect {
  width: 100%;
  color: #e1e1e1;
  background-color: #545454;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #2f2f2f;
  text-align: right;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #3a3a3a;
  color: #e1e1e1;
  border: 0;
  border-bottom: 1px solid #2f2f2f;
}

.multiselect-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  height: auto !important;
  width: 100%;
  position: relative !important;
  z-index: 1;
  border: 0 !important;
}

.search-filters .slinput input {
    width: 100%;
    border-radius: 0;
    background-color: #f2f2f2;
    color: #5d5d5d;
}

.search-filters .slinput .fa {
  color: #5d5d5d;
}

.search-filters ::-webkit-input-placeholder {
   color: #5d5d5d;
}

.search-filters :-moz-placeholder { /* Firefox 18- */
   color: #5d5d5d;  
}

.search-filters ::-moz-placeholder {  /* Firefox 19+ */
   color: #5d5d5d;
}

.search-filters :-ms-input-placeholder {  
   color: #5d5d5d;
}

.multiselect-container li a {
  padding: 0 !important;
}

.multiselect-container li.active a {
  background-color: #fff !important;
}

.multiselect-container li a label {
  padding: 6px 20px;
  cursor: pointer;
  margin: 0;
  width: 100%;
}

.multiselect-container .simplebar-scroll-content {
  max-height: 200px;
  position: initial !important;
}

#price-slider .slider-handle {
    background-color: #f26424 !important;
    background-image: -webkit-linear-gradient(top,rgb(242, 98, 37) 0,rgb(246, 126, 41) 100%) !important;
    background-image: -o-linear-gradient(top,rgb(242, 98, 37) 0,rgb(246, 126, 41) 100%) !important;
    background-image: linear-gradient(to bottom,rgb(242, 98, 37) 0,rgb(246, 126, 41) 100%) !important;
}

#price-slider .slider-selection {
  background: #ababab;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 767px) {
  #sidebar {
    width: 100%;
    min-width: 242.500px;
  }
}

@media (min-width: 992px) {
  #sidebar {
    width: 242.500px;
  }
}

@media (min-width: 1200px) {
  #sidebar {
    width: 292.5000px;
  }
}


/*Search-results
*****************/


.search-results {
  padding: 0;
  direction: rtl;
}

.search-results-container {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-top: 0;
  padding: 15px 30px;
}

.search-results .product-box {
  padding: 20px 0;
  direction: ltr;
}


/*pagination
*****************/

.Pagination-container {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
  padding: 0;
  text-align: center;
}

.pagination {
  margin: 0;
}

/*NEW EDIT*/

.pagination>li>a, .pagination>li>span {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  background-color: #f26225;
  border: 1px solid #f26225;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  -webkit-transition: background-color 0s ease;
  -moz-transition:    background-color 0s ease;
  -ms-transition:     background-color 0s ease;
  -o-transition:      background-color 0s ease;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #f36726;
    background-color: #fff;
    border-color: #fff;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0;
}

.pager-nav {
  line-height: 0;
}


/*breadcrumb
*****************/
.breadcrumb {
  margin-bottom: 0;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
  padding: 15px;
  font-size: 12px;
  text-align: right;
}

.breadcrumb a {
  color: #999;
}

.breadcrumb a:hover, .breadcrumb a:focus {
  color: #999;
}

.breadcrumb .active {
  font-weight: 700;
  color: #000;
}

.breadcrumb-transparent {
  background: transparent;
  border: 0;
}

.breadcrumb-transparent a{
  color: #fff;
}

.breadcrumb-transparent a:hover, .breadcrumb-transparent a:focus {
  color: #fff;
}

/*PageHeader
*****************/
.page-header {
  margin: 0;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
  padding: 15px;
  font-size: 12px;
  text-align: center;
}


.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display:none;
  z-index: 10000;
  border-radius: 0;
  background: #3d66da !important;
}

/*Stores-Page
*****************/
.recommended-for-you {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 0;
}

.recommended-for-you .container{
  overflow: hidden;
}

.recommended-for-you h3, .products-title {
  color: #000;
  display: inline-block;
  margin: 10px;
}

.recommended-for-you .btn, .left-btn{
  float: left !important;
}

.recommended-for-you .owl-carousel {
  margin-top: 20px;
}

.recommended-for-you .product-box {
  text-align: initial;
}

@media (max-width: 767px) {
  .recommended-for-you {
    text-align: center;
  }

  .recommended-for-you .btn ,.left-btn{
    float: none !important;
    width: 100%;
  }
}

/*settings-page
*****************/
.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

.user-row {
  background-color: #f6f6f6;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  border-top: 0;
}

@media (max-width: 767px) {
  .user-row {
    padding: 0 15px;
  }
}

/*user-nav
*****************/
.user-nav{
  padding: 0;
}

.user-nav li {
  margin: 0 !important;
}

.user-nav .nav>li>a {
  color: #000;
  font-weight: 700;
}

.user-nav .nav>li>a:hover, .user-nav .nav>li>a:focus {
  background-color: #f3f3f3;
}

.user-nav .nav li i.change-icon {
  color: #000;
  float: left;
  position: relative;
  top: 5px;
}

.user-nav .nav li ul {
  padding:0;
  list-style-type: none;
}

.user-nav .nav li ul li.activ {
  background-color: rgba(0, 0, 0, 0.07);
}

.user-nav .nav li ul li a {
  padding: 6px 40px 6px 20px;
  color: #000;
  border: 0;
  font-weight: 300;
  display: block;

  -webkit-transition: background-color 0.01s;
  -moz-transition: background-color 0.01s;
  -ms-transition: background-color 0.01s;
  -o-transition: background-color 0.01s;
  transition: background-color 0.01s;
}

.user-nav .nav li ul li a span {
  float: left;
  background-color: red;
  color: #fff;
  border-radius: 5px; 
  padding: 0 5px;
  font-size: 12px;
  position: relative;
  top: 2px;
}

.user-nav .nav li ul li a:hover {
  background-color: #dedede;
  text-decoration: none;
}

.user-nav .nav li ul li a i {
  vertical-align: middle;
  margin-left: 10px;
  width: 20px;
}

.new-message {
  background-color: #4dbfb5;
}

.user-nav .nav>li>a.new-message:hover, .user-nav .nav>li>a.new-message:focus {
  background-color: #4ca9a0;
}

/*user-messages
*****************/
.messages-list-container {
  min-height: 100%;
  background: #fff;
  border-right: 1px solid #e1e1e1;
  margin: 0;
  padding: 0;
}

.messages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.messages-list li {
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px;
  -webkit-transition: background-color 0.01s;
  -moz-transition: background-color 0.01s;
  -ms-transition: background-color 0.01s;
  -o-transition: background-color 0.01s;
  transition: background-color 0.01s;
  cursor: pointer;
}

.messages-list li:hover {
  background-color: #f3f3f3;
}

.messages-list .message-time {
  font-weight: 700;
  color: #b5b5b5;
  float: left;
}

.messages-list .message-sender {
  margin-left: 20px;
  font-weight: 700;
  color: #b5b5b5;
}

.messages-list .message-title {
  margin-left: 20px;
  color: #000;
}

.messages-list .message-text {
  color: #000;
  display: block;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages-list .message-btn {
  float: left;
  margin-right: 20px;
  color: #3d66da;
}

.messages-list .unread {
  background-color: #3d66da;
  border-bottom: 1px solid #3557b9;
}

.messages-list li.unread:hover {
  background-color: #5d7dd6;
}

.messages-list .unread .message-time {
  color: #e0e0e0;
}

.messages-list .unread .message-sender {
  color: #e0e0e0;
}

.messages-list .unread .message-title {
  color: #666;
}

.messages-list .unread .message-text {
  color: #666;
}

.messages-list .unread .message-btn {
  float: left;
  margin-right: 20px;
  color: #fff;
}

.messages-list-container .Pagination-container {
  border: 0;
}

.padding-link {
  display: block;
  padding: 10px;
  color: #000 !important;
  font-weight: 700;
  font-size: 12px;
}

@media (max-width: 767px) {
  .messages-list-container .Pagination-container {
    border: 0;    
  }
}

/*user-new/old-message
*******************/
.user-form-container {
  padding: 20px 10px;
  background: #fff;
  border-right: 1px solid #dedede;
}

.user-form-container .form-control {
  font-size: 14px;
}

.user-form-container textarea {
  resize: vertical;
  min-height: 150px;
  padding: 5px;
}

.user-form-container .form-group {
  margin-top: 20px;
}

.user-inputs-container {
  background: #f6f6f6;
  padding: 20px;
  border: 1px solid #dedede;
  border-bottom: 0;
  border-left: 0;
}

@media (max-width: 767px) {
 .user-form-container {
    border-right: 0;
  }

  .user-inputs-container {
    border-right: 0;
  }
}

/*Landing Page
***************/
/*Menu
******/
.fixed-one-page {
  background-color: #3d66da;
  border: 0;
  border-bottom: 1px solid #2f4fab;
  border-radius: 0;
  min-height: 0;

  -webkit-transition: all 0s !important;
  -moz-transition: all 0s !important;
  -ms-transition: all 0s !important;
  -o-transition: all 0s !important;
  transition: all 0s !important;
}

.absolute-one-page {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.fixed-one-page a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
}

.fixed-one-page .nav>li>a:hover, .fixed-one-page .nav>li>a:focus, .fixed-one-page .nav>li.active {
  background-color: rgba(0,0,0,0);
  background: transparent;
}

.fixed-one-page .nav>li:hover, .fixed-one-page .nav>li:focus, .fixed-one-page .nav>li.active {
  background-color: rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
    .fixed-one-page .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .fixed-one-page .nav-justified > li > a {
        margin-bottom: 0;
        padding: 10px 0;
        vertical-align: middle;
    }    
}

.fixed-one-page-transparent {
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px solid #000;
}

.fixed-one-page-transparent a {
  color: #fff;
}

.fixed-one-page-transparent .nav>li>a:hover, .fixed-one-page-transparent .nav>li>a:focus, .fixed-one-page-transparent .nav>li.active {
  background-color: rgba(0,0,0,0);
  background: transparent;
}

.fixed-one-page-transparent .nav>li:hover, .fixed-one-page-transparent .nav>li:focus, .fixed-one-page-transparent .nav>li.active {
  background-color: rgba(0,0,0,0.3);
}


/*section-title
***************/
.section-title {
  text-align: center;
} 

.section-title h2 {
  position: relative;
  bottom: -45px;
  padding: 5px;
  display: inline-block;
  background-color: #e7e7e7;
}

.section-title hr {
  margin-bottom: 40px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .section-title hr {
    margin-left: 20px;
    margin-right: 20px;
  }   
}

/*section-title-v1
******************/
.section-title-v1 {
  text-align: center;
} 

.section-title-v1 h2 {
  margin: 0;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
}

/*Advantages
*************/
#Advantages {
  /*background: #233567;*/
  border-bottom: 1px solid #dedede;
  padding: 20px 0 100px 0;
}

#Advantages .row {
  margin: 0 20px;
}

#Advantages .container .col-md-3, #Advantages .container .col-md-12 {
  margin: 0;
  padding: 0;
}

.border-box {
  text-align: center;
  color: #4e4e4e;
  border: 1px solid #dedede;
  background: #efefef;
  padding: 10px;
  min-height: 200px;
}

.img-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.brand {
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .border-box {
    min-height: 0;
  }    
}

/*how it work
*************/
#how-it-work {
  text-align: center;
  background: ;
  border-bottom: 3px solid #;
}

#how-it-work .container {
  padding: 100px 50px;
}

.yellow-box {
  background: #fff4bb;
  overflow: hidden;
  border: 1px solid #bfb47c;
  border-radius: 5px;
  margin: 10px;
}

.steps h2, .steps p {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  margin: 0;
}

.steps h2.step-num {
  border-left: 1px solid #e4ce58;
  background: #ffe664;
  color: #b1a046;
  float: right;
  padding: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.steps p {
  color: #6b6235;
  padding: 21px;
}

/*Landing-categories
********************/
#Categories {
  background: #f1f1f1;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
  padding: 20px 0 100px 0;
}

#Categories .section-title h2 {
  background-color: #f1f1f1;
  margin-left: 7px;
  margin-right: 7px;
}

@media (max-width: 768px) {
  #Categories .row {
    margin: 0 -5px;
  }
}

/*Overlay-system
****************/
.overlay-container {
  position: relative;
}

.overlay-layer {
  background: rgba(0,0,0,0.2);
}

.gradient-overlay {
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0,0,0,0)); /* Standard syntax */
}

.overlay-layer, .overlay-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-box {
  z-index: 10;
}

.overlay-box .container {
  overflow: hidden;
}

/*image-box
****************/
/*Normal
********/
.image-box {
  min-height: 150px;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
}

.image-box-content {
  text-align: right;
  margin: 10px;
}

.image-box-bottom-content {
  text-align: right;
  position: relative;
  top: 90px;
  margin: 10px;
}

.image-box-bottom-content .image-title{
  color: #fff;
  display: inline-block;
}

.image-box-bottom-content .store-name{
    font-size: 17px;
    background: #f36726;
    border-top-left-radius: 10px;
    padding: 0 10px;
    position: relative;
    right: -10px;
    top: -5px;
}

.category-box {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}

.image-box.overlay-container.category-box:hover .image-title {
  background: #fff;
  color: #f36726;
  font-weight: 700;
}

.category-box .image-box-bottom-content {
    text-align: right;
    position: relative;
    top: 90px;
    margin: 10px;
    margin-bottom: 0;
    margin-right: 0;
}

.category-box .image-box-bottom-content .image-title {
    color: #fff;
    display: inline-block;
    background: #f36726;
    padding: 7px 10px 7px;
    font-size: 18px;
    border-top-left-radius: 15px;
}

.image-box-bottom-content .image-btn {
  position: relative;
  top: 6px;
}

@media (max-width: 767px) {
  .category-box {
    border-radius: 0;
  }
}

@media (max-width: 375px) {
  .image-box-bottom-content {
    top: 60px !important;
  }

  .category-box .image-box-bottom-content {
    top: 90px !important
  }

  .image-box-bottom-content .image-title{
    display: block;
    text-align: center;
  }

  .image-box-bottom-content .image-btn {
    width: 100%;
  }
}

/*Flat
******/
.store-image-box {
  min-height: 200px;
  text-align: center;
  direction: rtl;
}

.store-image-box .image-box-bottom-content{
  text-align: right;
  position: absolute;
  top: auto !important;
  bottom: 0 !important;
  width: 90%; 
  width: calc(100% - 20px);
}

.store-image-box a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 768px) {
  .store-image-box {
    min-height: 150px;
  }
}

/*Landing-FQA 
*************/
#FQA {
  padding: 20px 0 0 0;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

#FQA .row {
  margin: 0 20px;
  text-align: initial;
}

.panel-heading .accordion-toggle h4 {
  font-size: 14px;
}

.panel-heading .accordion-toggle h4:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';
    content:"\f077";   
    float: left;        
    color: grey;        
    overflow: no-display;
}
.panel-heading .accordion-toggle.collapsed h4:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
}

a.accordion-toggle{
    text-decoration: none;
    color: grey;
}

.panel-collapse .panel-body {
  font-size: 12px;
}

#FQA img {
  max-width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .panel-heading .accordion-toggle h4 {
    font-size: 12px;
  } 
}

/*Categories
******************/
.page-title-image {
  margin-bottom: 20px;
}

.page-title-image .overlay-container{
  min-height: 400px;
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.page-title-image .overlay-container a{
  color: #fff;
}

.page-title-image .overlay-container h2 {
    line-height: 1.5;
}

.page-title-image .overlay-box .container {
  padding: 120px 30px 50px 30px;
}


.page-title-image-small .overlay-container{
  overflow: hidden;
  min-height: 100px !important;
}

.page-title-image .overlay-container .overlay-layer {
  background: rgba(0,0,0,0.7);
}

.page-title-image-small .overlay-container a{
  color: #fff;
}

.page-title-image-small .overlay-box .container {
  padding: 0 30px;
}

.good-products {
  margin-bottom: 20px;
  margin-top: 20px;
}

.good-stores {
  background: #fff;
  border: 1px solid #dedede;  
  margin-bottom: 20px;
}

 .sample-products {
  text-align: initial;
}

.category-box {
  min-height: 200px;
  margin: 0;
  padding: 0;
}

.sub-categories-container .col-md-6 {
  margin-bottom: 20px;
}

.sub-categories-container .col-md-6 .product-owl {
  padding: 10px;
}

.sub-categories-container .col-md-6 .product-owl .product-box {
  margin: 2px;
}

.category-box .image-box-bottom-content{
  top: 140px;
}

.subcategory-title, .subcategory-title .overlay-layer, .subcategory-title .overlay-box {
  border-radius: 40px;
}

.subcategory-title .overlay-box h4 {
  display: block;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 767px) {
  .category-box {
    min-height: 150px;
  }
  .category-box .image-box-bottom-content{
    top: 90px;
  }

  .page-title-image .overlay-box .container{
    padding-top: 150px;
  }

  .page-title-image .overlay-box .container h2{
    font-size: 24px;
  }

  .sample-products {
    text-align: center;
  }

  .good-products, .good-stores, .sub-categories-container .col-md-6, .page-title-image {
    margin-top: 0;
  }

  .good-stores {
    border-top: 0;
  }

  .sub-categories-container .col-md-6 .product-owl {
    padding: 20px;
  }

  .sub-categories-container .col-md-6 .product-owl .product-box {
    margin: 10px;
  }
}



.store-of-the-day {
  min-height: 200px;
}

.stores-list {
  background-color: #fafafa;
  border-bottom: 1px solid #dedede;
  padding: 50px 0;
}

.stores-list .col-md-6, .stores-list .col-md-12 {
  margin: 0;
  padding: 0;
}

/*Product-details 
*****************/
.product-details-container .image img{
  width: 100%;
  border: 0;
}

.product-details-container .product-image ,.product-details-container .product-details-text {
  margin: 20px 0;
  background: #fff;
  border: 1px solid #dedede;
  padding: 20px;
}

.product-details-container .product-details-text {
  margin-bottom: 0;
}

#sync2 .image {
  padding: 5px;
}

.product-details .price, .product-details span.price-before {
  font-size: 16px;
}

.product-details-container .product-details-text h2 {
  margin: 0;
}

.inputs-container {
  background: #f6f6f6;
  border: 1px solid #dedede;
  border-top: 0;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
}

@media (max-width: 767px) {
  .product-details-container .product-image ,.product-details-container .product-details-text,.product-details-container .inputs-container {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #dedede;
  }

  .inputs-container {
    border: 0;
  }
}

/*Rating
********/

/* :not(:checked) is a filter, so that browsers that donâ€™t support :checked donâ€™t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesnâ€™t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: left;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:18px;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '\2605';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


/*Cafe-page
***********/
.store-logo{
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #dedede;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  margin-top: 20px;
  width: 170px;
  height: 170px;
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}

.store-logo img {
  width: 200px;
}

.store-data {
  margin: 10px;
  position: absolute;
  display: inline-block;
}

.store-data h2 {
  margin: 0;
}

.store-data a {
  display: block;
  line-height: 2;
  font-size: 16px;
}

.line-links a {
  display: inline-block;
}

.call-to-action {
  margin-top: 5px;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 30px;
}

.btn-blue.inverse {
  background-color: #fff !important;
  color: rgb(61, 102, 218);
}

.btn-blue.inverse:hover, .btn-blue.inverse:focus, .btn-blue.inverse:active {
  color: #fff;
}

@media (max-width: 767px) {
  .store-data-container .overlay-container {
    height: 550px;
  }

  .store-data {
    position: relative;
    display: block;
  }

  .store-data a {
    line-height:1.5;
  }
  .gallery-container {
    margin-bottom: 20px;
  }
}

.gallery-container {
  margin-top: 20px;
  overflow: hidden;
}

.mfp-wrap {
  direction: ltr;
}

.gallery-container .col-lg-3 {
  padding: 2.5px 5px;
}

.gallery-item-container {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 10px;
}

.gallery-item {
  display: block;
  height: 100%;
}

.menu-container {
  padding-top: 30px;
  border: 1px solid #fd9047;
  background-color: #fd9047;
  text-align: center;
}

.menu-container h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.Another-Gray {
  background-color: #f1f1f1;
  padding: 15px;
  margin-bottom: 20px;
}

.Another-Gray h2 {
  text-shadow: 2px 2px #fff;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .Another-Gray {
    text-align: center;
  }

  .gallery-item-container {
    height: 200px;
  }

}

/*Datatables
*************/
.datatable-container {
  padding: 20px 10px;
  background: #fff;
  border-right: 1px solid #dedede;
  min-height: 400px;
}

.datatable-container *{
  -webkit-transition: all 0s ease;
  -moz-transition:    all 0s ease;
  -ms-transition:     all 0s ease;
  -o-transition:      all 0s ease;
}

.datatable-container .form-control {
  padding: initial;
}

div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_paginate{
    text-align: left !important;
}

div.dataTables_wrapper div.dataTables_filter label {
  width: 75%;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 100%;
}

div.dataTables_wrapper {
  direction: rtl;
  text-align: right;
  width: 100%;
  margin: 0 auto;
}
 
th, td { white-space: nowrap; }

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 1px !important;
}

table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
  border-right-width: 0px !important;
}

.datatable-container img {
  max-width: 50px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
  font: normal normal normal 14px/1 FontAwesome;
  bottom: 10px;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}

.datatable-container .pagination>li>a, .datatable-container .pagination>li>span {
  border: 0 !important;
  outline: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  color: #fff !important;
}

.dataTables_scroll {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .datatable-container {
    border: 0;
  }

  div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center !important;
  }
}

/*INDEX-VIRSION_2 
*****************/
.ad {
  background-size: cover;
  background-position: center center;
  background-color: #dedede;
  width: 100%;
  height: 317px;
  border-radius: 10px;
}

.category-section {
  margin-top: 20px;
}

.category-section .col-md-6{
  margin-bottom: 20px;
}

.category-info.places-info {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .category-section .col-md-6{
    margin-bottom: 20px;
  }
}

.category-section .subcategories-section{
  padding: 0;
  border: 1px solid #dedede;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.title-section.perfect-bg:hover h2 {
  background: #fff;
  color: #f36726;
  font-weight: 700;
}

.category-section .title-section {
  background-color: #f1f1f1;
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  min-height: 200px;
}

.category-section .title-section h2 {
  margin-top: 0;
}

.category-section .title-section h2 {
    background: #f36726;
    color: #fff;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    padding: 7px 10px 7px;
    font-size: 18px;
}

.category-section .title-section div {
  display: inline-block;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 5px;
} 

.category-section .title-section a { 
  color: #fff !important;
  text-decoration: underline;
}

.category-section .subcategories-section .row {
  padding: 20px;
}

.category-section .subcategories-section .links a {
  color: #303030;
}

.full-width-category .col-md-8 .places-owl {
  background-color: #fafafa;
}

.full-width-category .product-box {
  margin: 20px 10px;
}

@media (min-width: 992px) {
  .full-width-category .col-md-4 {
    padding-left: 0;
  }

  .full-width-category .col-md-8 {
    padding-right: 0;
  }

  .full-width-category .title-section {
    height: 220px;
  }

  .full-width-category .product-box .image img {
    height: 240px;
    max-height: 260px;
    width: auto;
  }
}

.owl-carousel.many-stores {
  background: #fff;
  border-top: 1px solid #dedede;
}

.owl-carousel.many-stores .item {
  margin: 1em 0;
  height: 30px;
  position: relative;
}

.owl-carousel.many-stores img {
  max-height: 45px;  
  max-width: 100px;  
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

@media (max-width: 767px) {
  .category-section {
    margin-top: 0;
  }

  .category-section .subcategories-section {
    border-radius: 0;
  }
}

.category-section-full {
  background: #fff;
}

.category-section-full .subcategories-section {
  border-radius: 0;
}


/*Store
********/
.store-products {
  margin-top: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}

@media (max-width: 767px) { 
  .store-products {
    margin-top: 0;
  }
}

.products-imgs-owl {
  border-top: 1px solid #dedede;
}

.products-imgs-owl .product-box {
  margin: 20px 10px;
}

.subcategories-section .products-imgs-owl .product-box .image a {
  height: 175px;
}

.products-imgs-white-owl {
  background-color: #fff;
}

.products-imgs-white-owl img {
  border: 0 !important;
}




/*contact
**********/

.title-jumbotron {
  margin-bottom: 20px;
  background: url('../img/contactUs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  border-radius: 0px;
  overflow: hidden;
}
.jumbotron-sm { 
  padding-top: 24px;
  padding-bottom: 24px;
}
.title-jumbotron small {
  color: #FFF;
}
.title-jumbotron h1 {
  background: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 5px;
}

.title-jumbotron h3 {
  font-size: 24px;
  background: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 5px;
}

@media (max-width: 767px) {
  .title-jumbotron {
    margin-bottom: 0;
    text-align: center;
  }
}

.contact-well {
  margin-bottom: 0;
  background: #fff;
  border: 1px solid #dedede;
  border-bottom: 0;
  padding: 20px;
}

.contact-well select{
  padding: 0;
}

.contact-well textarea{
  padding: 15px;
  resize: vertical;
  min-height: 215px;
}

.contact-container .user-inputs-container {
  border: 1px solid #dedede;
}

.contact-info {
  background: #fff;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 15px;
}

.contact-info a {
  color: #000 !important;
}

.contact-info legend {
  color: #f36726;
  border-bottom: 0;
}

@media (max-width: 991px) {
  .contact-info {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .contact-info {
    margin-top: 0;
    border-radius: 0;
  }
}


/*user-message-reply (chat)
***************************/
.user-form-container .panel {
  margin-top: 20px;
  margin-bottom: 0;
}

.chat
{
    direction: ltr;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat .header {
  text-align: left;
}

.chat-footer input { 
  padding: 0 10px;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .fa, .chat .fa
{
    margin-left: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}


.menu-btn {
  margin-right: 10px;
  border-radius: 34px;
  font-size: 17px;
}


/*New edits*/
.custom-navbar .navbar-header .navbar-toggle.dropdown-toggle, .custom-navbar .navbar-header .toggle-verticalmenu {
  padding: 0;
}

.custom-navbar .navbar-header .navbar-toggle.dropdown-toggle .fa-user, .custom-navbar .navbar-header .toggle-verticalmenu .fa-bars {
  padding: 10px;
  color: #fff;
  background-color: #F36726;
  border-radius: 10px;
  font-size: 18px;
}

.Panel-Sign .btn-blue {
  width: 100%;
  padding: 10px 12px;
}

.user-inputs-container {
  background: #f6f6f6;
  padding: 20px;
  border: 1px solid #dedede;
  border-bottom: 0;
  border-left: 0;
  text-align: left;
}

.contact-info address abbr {
  color: #f36726;
  border-color: #f36726;
  display: inline-block;
  margin-bottom: 5px;
}

.contact-info img {
  width: 100px;
  margin-bottom: 20px;
}

/*.custom-navbar .navbar-header .toggle-verticalmenu .fa-bars {
  color: #f36726;
  font-size: 18px;
  font-weight: 700;
}*/

/*index*/
.slider-container {
  background: #f1f1f1;
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}

.slider-container .col-md-4 img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .slider-container {
    padding: 0;
  }
}

.owl-controls.clickable {
  height: 0;
}

.owl-pagination {
  position: relative;
  top: -25px;
  height: 17px;
  text-align: center;
}

.owl-controls .owl-page {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 10px;
    background: #f1f1f1;
    display: inline-block;
}

.owl-controls .owl-page.active { 
  background: #f36726;
}

/*Product-comments
******************/
p {
    margin: 0 0 1em;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment:last-child {
  border-bottom: 0;
  margin: 0;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments {
  background: #ffffff;
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #dedede;
  border-top: 0;
}

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: 0;
    bottom: 0px;
    left: 81px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#myModal {
      overflow-y: auto !important;
}

.modal-body .user-form-container{
  border: 0;
  padding: 0;
}

.modal-body .user-form-container textarea{
  margin: 0;
}

/*********************************************/
span.disc {
  background-color: #F36726;
  border-radius: 10px;
  padding: 2px 10px;
  line-height: 3;
  font-weight: 700;
}




.good-products-container {
  background-color: #fafafa;
  border-top: 1px solid #dedede;
  margin-top: 20px;
}

.good-products {
  margin-top: 0;
}

.product-owl {
    padding: 20px;
    padding-top: 0;
    background: transparent;
    border: 0;
}

.nav-tabs {
    border: 0;
    background-color: transparent;
    text-align: center;
}

.nav-tabs .title {
    float: right;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 15px;
}

.nav-tabs>li {
    margin-bottom: 0;
    display: inline-block;
    float: none;
}

.nav-tabs li a {
    border: 0;
    color: #fff;
    padding: 5px 15px;
    font-weight: 700;
    background: #f36726;
    margin-left: 10px;
    border-radius: 15px;
    border: 1px solid #f36726;
    border-bottom: auto;
    margin-top: 10px;
}

.nav-tabs li.active a {
    font-weight: 700;
    color: #f36726;
    border: 1px solid #f36726;
    background-color: #ffffff;
}

/*.nav-tabs li.active:after {
    content: " ";
    position: absolute;
    left: 50%;
    opacity: 1;
    margin: 0 auto;
    margin-left: -5px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: transparent;
}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #f36726;
    background-color: #fff;
    border: 1px solid #f36726;
    border-bottom-color: #f36726;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
    color: #f36726;
}


.product-owl .product-box {
    margin: 10px;
    background: #f3f3f3;
    border: 1px solid #dedede;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.product-owl .product-box .image img {
    border: 0;
}

.product-owl .product-box .image a {
  border: 0;
  border-bottom: 1px solid #dedede;
}

.product-owl .product-details {
    text-align: center;
    padding: 10px;
    padding-top: 0;
}

.product-owl a.brand-name {
  margin-bottom: 5px;
}

.product-owl a.store-name {
    background: #f36726;
    color: #fff;
    border-radius: 15px;
}


.discount-badge {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 15px;
    background: #ab3f21;
    color: #fff;
    font-weight: 700;
    padding: 2px 7px;
    text-transform: uppercase;
    border-radius: 15px;
    z-index: 10;
}

.owl-carousel.many-stores .item:hover .discount-badge {
    opacity: .2;
}