/*
content-new.css is the updated version of content.css
written by: Ahmed Tarek;
*/

@font-face {
  font-family: 'Sheba';
  src: url('../fonts/Sheba-Ye.ttf');
}

body {
	font-family: 'Sheba';
}

* {
  -webkit-transition: all 0.1s ease;
  -moz-transition:    all 0.1s ease;
  -ms-transition:     all 0.1s ease;
  -o-transition:      all 0.1s ease;
}


/*buttons
*****************/
.btn {
	text-align: center;
	text-decoration: none !important;
	display: inline-block;
	color: #fff;
}

.btn.btn-xbig {
	padding: 10px 16px;
    border-radius: 10px;
}

.btn.btn-big {
	padding: 6px 12px;
	border-radius: 15px;
}

.btn.btn-small {
	border-radius: 5px;
	padding: 2px 6px;
}

.btn-orange:hover, .btn-orange:focus {
	background-color: #fff;
	color: #f36726;
}

/*banner-section 
*****************/
.banner-section {
	padding: 50px 0;
    border-radius: 15px;
    margin: 20px 0;
}

.banner-section .banner-content {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	width: 400px;
	margin: auto;
	padding: 20px;
	border-radius: 15px;
}

.banner-section .banner-content h2 {
	margin-top: 0;
}

.banner-section .banner-content strong{
	display: block;
	margin-bottom: 10px;
}

/*box
******/
.box {
	margin-top: 20px;
	border-radius: 15px;
	background-color: #fbfbfb;
	border: 1px solid #fff;
}

.box:hover {
	background-color: #f1f1f1;
	border: 1px solid #dedede;
}

.box-title {
	border-radius: 15px;
	padding: 5px;
	text-align: center;
}

.box-title-top {
	margin: 20px 20px 0 20px;
}

.box-title h2 {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #fff;
}

.icon-title {
	z-index: 10;
	cursor: pointer;
}

/*
.icon-title:hover .box-title{
	background-color: #fff;
	border: 1px solid #dedede;
}

.icon-title:hover .box-title h2{
	color: #f36726;
	font-weight: 700;
}

.icon-title:hover i{
	background-color: #f36726;
	color: #fff;
}
*/

.icon-title .box-title {
	right: 40px;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 10;
    border: 1px solid #f36726;
}



.icon-title i {
	background: #fff;
    font-size: 24px;
    padding: 12px;
    border-radius: 100%;
    position: absolute;
    border: 1px solid #dedede;
    color: #f36726;
    right: 11px;
    top: -10px;
    z-index: 10;
}

.box-title-img {
	width: 100%;
	height: 250px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box .box-title-img:hover h2 {
  background: #fff;
  color: #f36726;
  font-weight: 700;
}

.box .box-title-img{
  background-color: #f1f1f1;
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  min-height: 200px;
}

.box .box-title-img h2 {
  margin-top: 0;
}

.box .box-title-img h2 {
    background: #f36726;
    color: #fff;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    padding: 7px 10px 7px;
    font-size: 18px;
}

.box .box-title-img div {
  display: inline-block;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 5px;
} 

.box .box-title-img a { 
  color: #fff;
  text-decoration: underline;
}



.box .pd {
	padding: 0 20px;
}

.box .pd:last-child{
	padding: 0 20px;
	padding-bottom: 20px;
}

/*image-radius-box
*************/
.image-radius-box {
	overflow: hidden;
	border: 1px solid #dedede;
	direction: rtl;
}

.carosel-title-margin {
	margin: 50px 5px 0 5px;
}

.image-radius-box .bg-box.col-md-6 {
	height: 230px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.image-radius-box .col-md-6 {
	padding: 0;
}

.image-radius-box .info-box {
	height: 230px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;
}

.image-radius-box .info-box a {
	display: block;
	text-decoration: none !important;
}

.image-radius-box .info-box  .info-box-header {
	background-color: #f1f1f1;
	border-top-left-radius: 15px;
	border-bottom: 1px solid #dedede;
	display: block;
	padding: 5px 15px; 
}

.image-radius-box .info-box a.category {
	display: inline-block;
	background-color: #fff;
	color: #f36726;
	border: 1px solid #dedede;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 15px;
}

.image-radius-box .info-box a.category:hover, .image-radius-box .info-box a.category:focus {
	background-color: #f36726;
	color: #fff !important;
}

.image-radius-box .info-box a.store-name {
	font-size: 18px;
	font-weight: 700;
	color: #666;
	padding: 5px 10px;
	text-align: right;
}

.image-radius-box .info-box a.store-name:hover, .image-radius-box .info-box a.store-name:focus {
	color: #f36726;
}

.image-radius-box .info-box a.description {
	font-size: 16px;
	max-height: 40px;
	overflow: hidden;
	font-style: italic;
	margin: 5px 15px;
	text-align: center;
	color: #666;
}

.image-radius-box .small-gallery {
	padding: 0 10px;
}

.small-gallery .col-md-4, .small-gallery .col-xs-4 {
	padding: 15px 5px;
}

.small-gallery .gallery-item-container {
	height: 60px;
	border-radius: 15px;
}

.gallery-item {
  display: block;
  height: 100%;
}

.image-radius-box .info-box .btn-big {
	margin: 0 10px;
}


/*Product-box
*************/
.product-box {
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px;
	overflow: hidden;
	margin: 0 5px;
	direction: rtl;
}

.product-box .category a {
	border-radius: 5px;
	padding: 2px 6px;
	color: #fff;
	display: inline-block;
	margin: 0px;
	font-size: 14px;
	text-decoration: none;
}



.product-box .category a:hover {
	background-color: #fff;
	color: #f36726;
}

.product-box .product-image {
	width: 100%;
	height: 150px;
	border: 1px solid #dedede;
	margin-top: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
}

.product-box .product-image h2 {
	margin: 0;
    font-size: 14px;
    position: relative;
    top: 123px;
    left: 0;
    background-color: #f36726;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
}

.product-info a.store-name, .product-info a.product-name, .product-info a.product-price {
	display: block;
	color: #666;
	font-size: 14px;
}

.product-info a.store-name {
	text-decoration: underline;
}

.product-info a.product-name {
	text-decoration: none;
	font-weight: 700;
}

.product-info a.product-price {
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
}

.product-info a.product-price span {
	color: #b2b2b2;
	text-decoration: line-through;
	margin-right: 10px;
}

.btn-icon {
	color: #ddd;
}




/*small-boxes-container
***********************/
.small-boxes-container .row:first-child{
	margin-top: 20px;
}

.small-boxes-container .row {
	margin-top: 5px;
	margin-left: -5px;
	margin-right: -5px;
}

.small-boxes-container .col-md-4 {
	padding: 5px;
}


/*Name-box
**********/
.name-box {
	display: block;
	height: 100px;
	border: 5px solid #fff;
	text-decoration: none !important;
}

.name-box:hover span, .name-box:focus span, .name-box:active span {
	background-color: #fff;
	color: #f36726;
}

.name-box span {
	position: relative;
    top: 100%;
    margin-top: -35px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    height: 35px;
}

.outer-border {
	border: 1px solid #dedede;
}


/*background-box
****************/
.bg-box {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


/*sliders
*********/
.owl-carousel {
	direction: ltr;
}

.owl-prev, .owl-next {
	display: inline-block;
    background: #ffffff;
    color: #f36726;
    border: 1px solid #dedede;
    border-radius: 15px;
    padding: 1px 12px;
    -webkit-transition: color 0s ease;
    -moz-transition:    color 0s ease;
    -ms-transition:     color 0s ease;
    -o-transition:      color 0s ease;
}

.owl-prev:hover, .owl-next:hover {
	background: #f36726;
    color: #fff;
    border: 1px solid #f36726;
}

.owl-prev {
	margin-right: 10px;
}

.owl-controls.clickable {
	display: inline-block;
    top: 0;
    position: absolute;
}

.box-carousel {
    padding-top: 50px;
    margin-top: 20px;
}

.owl-carousel-title {
	position: absolute;
    border-radius: 10px;
}

.owl-carousel-title h2 {
	padding: 2px 9px;
}

.logo-carousel .owl-wrapper-outer {
	background: #fff;
    padding: 20px 0;
    border-radius: 15px;
}

.logo-carousel .item {
    margin: 1em 0;
    height: 30px;
    position: relative;
}

.logo-carousel .item .follow-store-hover {
	position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    opacity: 0;
    z-index: 3;
}
.logo-carousel .item .follow-store-hover a {
	display: block;
	margin: 6px 20px;
}

.logo-carousel .owl-wrapper-outer img{
	max-height: 45px;
    max-width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.logo-carousel .item:hover .follow-store-hover {
    opacity: 1;
}

.logo-carousel .item:hover .discount-badge {
    opacity: .2;
}

.discount-badge {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 15px;
    background: #ab3f21;
    color: #fff;
    font-weight: 700;
    padding: 2px 7px;
    text-transform: uppercase;
    border-radius: 15px;
    z-index: 2;
}

/*MAIN SLIDER*/
.main-slider {
	background-color: #f1f1f1;
	border-bottom: 1px solid #dedede;
}

.owl-carousel.main-owl .item{
	text-align: center;
}

.owl-carousel.main-owl .item img {
	display: block;
    width: 100%;
    height: auto;
}

.owl-carousel.main-owl .owl-controls.clickable {
	display: initial;
    top: auto;
    position: static;
}

.owl-controls.clickable {
  height: 0;
}

.owl-pagination {
  	position: absolute;
    width: 100%;
    bottom: 10px;
    height: 17px;
    text-align: center;
}

.owl-controls .owl-page {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
}

.owl-controls .owl-page.active { 
  background: #f36726;
}

.slider-ex {
	min-height: 300px;
}





/*Rating
********/

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: left;
    width:15px;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:18px;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '\2605';
}

.rating > input:checked ~ label {
    color: #f36726;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #f36726;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #f36726;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}






/*Overlay-system
****************/
.overlay-container {
  position: relative;
}

.overlay-layer {
  background: rgba(0,0,0,0.1);
}

.gradient-overlay {
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0,0,0,0)); /* Standard syntax */
}

.overlay-layer, .overlay-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-box {
  z-index: 10;
}

.overlay-box .container {
  overflow: hidden;
}



.store-image-box {
  min-height: 200px;
  text-align: center;
  direction: rtl;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .store-image-box {
    min-height: 150px;
  }
}

 .close-ribbon {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 1;
    color: #eee;
    font-size: 40px;
    cursor: pointer;
    line-height: 0.5em;
	text-decoration: none !important;
    -webkit-transition: line-height 0.5s;
    transition: line-height 0.5s;
}

.close-ribbon span {
	font-size: 18px;
    position: relative;
    right: 9px;
    top: 6px;
    font-weight: 700;
}

.close-ribbon:after {
    content: "";
    font-size: 0.5em;
    position: absolute;
    height: 85px;
    width: 20px;
    border: 1.5em solid #f36726;
    z-index: -1;
    top: -1em;
    border-top-width: 1.5em;
    border-bottom-color: transparent;
    right: 0;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.close-ribbon:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #B71C1C transparent;
  top: -1em;
  right: 3em;
  border-width: 0 0 1em 0.7em;
  z-index: -1;
}
.close-ribbon:hover:after{
    border: 1.5em solid #fbfbfb;
    border-bottom-color: transparent;
    height: 100px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.close-ribbon:hover span{
    color: #f36726;
}

.close-ribbon div {
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.close-ribbon:hover div{
	height: 1000px;
    max-height: 20px;
    background: red;
}

/*Modal Sign
*************/
/*Panel-Sign
*************/
.modal {
	direction: ltr;
	overflow-y: auto;
}

.modal-body {
    padding: 0;
    direction: rtl;
}

.Panel-Sign {
  background-color: #fafafa;
  border: 1px solid #dedede;
  text-align: center;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.Panel-Sign h2 {
  font-weight: 700;
  font-size: 18px;
  color: #c6c6c6;
}

.socialMedia-sign {
  padding: 20px 0 20px 0;
  border-bottom: 1px dashed #bfbfbf;
}

.Panel-Sign form {
  padding-top: 20px;
}

.form-control {
  border: 1px solid #dedede;
  box-shadow: none !important;
  padding: 24px 12px;
  color: #000;
  font-size: 12px;
}

.Panel-Sign .col-6 {
  text-align: right;
  padding: 0;
  float: right;
  width: 50%;
}

.Panel-Sign .btn-blue {
  width: 100%;
  padding: 19px 12px;
}

.checkbox {
  display: inline-block;
  margin-top: 0;
}

.checkbox label {
    padding-right: 10px;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
  margin-right: 0;
}

.Panel-Sign .submit-options a {
  display: block;
  color: #c6c6c6 !important;
  font-weight: 700;
}

.Wrong-input{
    background: #f2dede !important;
    color: #a94442 !important;
    border-color: #ebccd1 !important;
}

@media (max-width: 767px) { 
  .Panel-Sign {
    margin: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dedede;
  }

  .change-background {
    background-color: #fafafa;
  }
}

@media (max-width: 300px) {
  .Panel-Sign .col-6 {
    margin-bottom: 10px;
    float: none;
    width: 100%;
  }
}



.margin-col .col-md-12 {
	margin-top: 20px;
}

.text-container {
	background-color: #f1f1f1;
	border-bottom: 1px solid #dedede;
	padding: 15px;
	color: #666;
}