{% extends 'base.html' %}
{% load  static %}
{% block body %}
<br>
<br>
<br>

<br>
<br>
<br>
<div class="row">


<div class="col-4">
  <img src="{% static 'img/shutterstock_394729012.jpg' %}" alt="" style="width:500px">
  <h3 class="font-rafeki" style="margin-left:40px">انضم الان لعائلة رفيقي التعليمية</h3>
</div>
<div class="col-6 offset-md-1">
  <h2 class="font-rafeki">Please Register to enjoy all our features</h2>
  <form method="post" >

      {{ form.as_p }}
      {% csrf_token %}
      <button class="btn btn-rafeki" type="submit">سجل الان</button>
  </form>

</div>
</div>
{% endblock %}
