{% load static %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'img/shutterstock_199303319.jpg'%}"   alt="Card image cap">
  <div class="card-body">
    <h6 class="card-text ">{{ school }}</h6>
    <h5 class="card-title font-rafeki">{{ title }}</h5>

    <footer > Degrees: <span class="badge badge-primary badge-pill"><span > {{ student_degrees }}</span> / <span style="color: green">{{ exams_degrees }}</span>  % : <span style="color: white">{{ precentage }}</span></span></footer>

    <a href="{{ url }}" class="btn btn-rafeki">Go to course</a>
  </div>
</div>
