<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Rafeki Home Page{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Chart.js CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" type="text/javascript"></script>


  </head>

  <div class="container">
    <nav class="navbar navbar-expand-lg  rounded">
      <a class="navbar-brand" href="#">Rafeki</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Public</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">City</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#">Damanhour</a>
            <a class="dropdown-item" href="#">Alexandria</a>
            <a class="dropdown-item" href="#">Cairo</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

  <nav class="navbar navbar-expand-lg  rounded navbar2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">

        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">الدعم</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'accounts:register'%}">تسجيل</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">تسجيل الدخول</a>
        </li>
        <form class="form-inline my-2 my-md-0">
          <button class="btn btn-nav" type="submit" name="button"><svg height="30" width="30">
           <img class="svg-search" src="{% static 'img/search.svg'%}" style="height:35px; width:35px;"/>
          </svg></button>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>

        {% elif user.student %}


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropdown-raf" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg height="20" width="20">
           <img class="" src="{% static 'img/account.svg'%}" style="height:32px; width:32px;"/>
         </svg></a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="{% url 'edu:signed_home'%}">Courses <svg height="20" width="20">
             <img class="dropdown-icon" src="{% static 'img/courses.svg'%}" />
           </svg></a>
            <a class="dropdown-item" href="{% url 'edu:student_all_courses_state' request.user.student.pk %}">Progress <svg height="20" width="20">
             <img class="dropdown-icon" src="{% static 'img/progress.svg'%}" /></a>
            <a class="dropdown-item" href="#">Profile <svg height="20" width="20">
             <img class="dropdown-icon" src="{% static 'img/account.svg'%}" />
           </svg></a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><svg height="20" width="20">
           <img class="svg" src="{% static 'img/notification-default.svg'%}" style="height:32px; width:32px;"/>
          </svg></a>
        </li>

        <form class="form-inline my-2 my-md-0">
          <a  href="#"><svg height="20" width="20">
           <img class="svg-search" src="{% static 'img/search.svg'%}" style="height:32px; width:32px;"/>
         </svg></a>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">courses</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">{{ request.user.student.code }}</a>
            {% for course in request.user.student.courses.all %}
            <a class="dropdown-item" href="{% url 'edu:student_course_info' course.pk request.user.student.pk %}">{{ course.name }}</a>
            {% endfor %}
          </div>
        </li>

        {% elif user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="#">notifications</a>
        </li>

        <form class="form-inline my-2 my-md-0">
          <button class="btn btn-nav" type="submit" name="q"><svg height="20" width="20">
           <img class="svg" src="{% static 'img/search.svg'%}" style="height:35px; width:35px;"/>
          </svg></button>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg height="20" width="20">
           <img class="svg" src="{% static 'img/account.svg'%}" style="height:35px; width:35px;"/>
         </svg></a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#">LOL</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">تسجيل الخروج</a>
          </div>
        </li>


        {% endif %}
      </ul>
    </div>
  </nav>








<!--

<div class="container mb-5">

  <nav class="navbar navbar-toggleable-md  fixed-top " >
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">BETA</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Public</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'edu:not_signed_home' %}">Education</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
                  <button class="btn btn-nav" href="#"><svg height="20" width="20">
                   <img class="svg" src="{% static 'img/account.svg'%}" style="height:20px; width:20px;"/>
                 </svg></button>
            </li>
            {% endif%}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-nav my-2 my-sm-0" type="submit"><svg height="20" width="20">
           <img class="svg" src="{% static 'img/search.svg'%}" style="height:20px; width:20px;"/>
          </svg></button>
          <input class="form-control search-input mr-sm-2" type="text" placeholder="ابحث عن مكانك المفضل">

        </form>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                    <a class="nav-link disabled" href="#">{{ user.username }}</a>
              </li>
             <li class="nav-item">
                <a class="nav-link " href="/account/logout">Logout</a>
             </li>
                {% if user.student %}
                  <li class="nav-item">
                  <a class="nav-link " href="{% url 'edu:signed_home' %}">Courses</a>
                  </li>
                {% else %}
                   <li class="nav-item">
                  <a class="nav-link " href="{% url 'edu:create_student' %}">Create Student</a>
                  </li>
                {% endif %}
            {% else %}
                 <li class="nav-item">
                    <a class="nav-link" href="/account/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/account/register">Register</a>
                </li>
            {% endif %}

            {% if request.user.school %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">School Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">School Detail</a>
              <a class="dropdown-item" href="{% url 'edu:not_signed_home' %}">Courses</a>
              <a class="dropdown-item" href="#">Create Course</a>
              {% for course in request.user.school.course_set.all %}
              <a class="dropdown-item" href="{% url 'edu:course_dashboard' course.pk %}">{{ course }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>

            {% elif request.user.student %}
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item disabled" href="#">Your Code :<span style="color: #dd2d41"> {{ request.user.student.code }}</span></a>
              <a class="dropdown-item" href="{% url 'edu:signed_home' %}">All Courses</a>
              {% for course in request.user.student.courses.all %}
              <a class="dropdown-item" href="{% url 'edu:student_course_info' course.pk request.user.student.pk %}">{{ course }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
            {% endif %}

      </div>
    </nav>

</div>
</div>
-->
<div class="container-fluid mt-5 mb-4" >


    {% block body %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url('https://cfe2-static.s3-us-west-2.amazonaws.com:443/static/assets/img/cfe-header.jpg?v=2')">
        <div class="container">
          <h1 class="display-3" style="color: #895">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>


        <hr>

        <footer>
          <p>&copy; Company 2017</p>
        </footer>

      </div> <!-- /container -->
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
