
/*Optional*/
.multiselect-container li.active a {
  color: #000 !important;
}

.multiselect-container li.active a label{
    opacity: .54;
}

.messages-list .unread .message-sender, .messages-list .unread .message-time {
    color: #f5f5f5;
}


/*Main-Color*/
.carousel-indicators li.active,.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before , .multiselect-container li.active a, .messages-list .unread, .fixed-one-page, #menu-header, .btn-blue, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #fe0036 !important;
}

.messages-list .message-btn {
  color: #fe0036;
}

.custom-navbar {
  border-top: 5px #fe0036 solid;
}

.dropdown-menu li:last-child {
  border-bottom: 5px #fe0036 solid;
}


/*Darker-color*/
.btn-blue:hover, .btn-blue:focus, .messages-list li.unread:hover {
  background-color: #b80934 !important;
}

.messages-list .unread,.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before , .fixed-one-page, .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  border-color: #b80934 !important;
}


/*Darkest-color*/
.btn-blue:active{
    background: #0c4055 !important;
}


/*Sub-color  OPTIONAL*/
.product-box h2 span {
  color: #165d4a;
  background: #38c49e;
}